<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral,                             PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="CRMEntities" connectionString="metadata=res://*/entities.csdl|res://*/entities.ssdl|res://*/entities.msl;provider=system.data.sqlclient;                    provider connection string=&quot;data source=ti-developerpc3\techimplement;initial catalog=techimplementcrm;integrated security=false;user id=sa;password=aqil;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/entities.csdl|res://*/entities.ssdl|res://*/entities.msl;provider=system.data.sqlclient;          
         provider connection string=&quot;data source=SwitchCRM;initial catalog=techimplementcrm;integrated security=false;          
         user id=sa;password=Akhtar@123;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />-->
    <!--TI Instance 2 Connection String-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;
    provider connection string=&quot;data source=SWUICH/TECHIMPLEMENT;initial catalog=TechImplementCRM;integrated security=False;user id=sa;password=aqil;
    multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Sikandar Connection String-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ti-developerpc3\techimplement;initial catalog=techimplementcrm;integrated security=False;user id=sa;password=aqil;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ti-developerpc3\techimplement;initial catalog=techimplementcrm;integrated security=False;user id=sa;password=aqil;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TechImplementCRM;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-HGBUE13;Initial Catalog=TechImplementCRM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="defaultconnection" connectionString="data source=TI-NETDEVLT03;initial catalog=TechImplementCRM;&#xd;&#xa;    user id=sa;password=usman1234;integrated security=false" providerName="system.data.sqlclient" />
	  <add name="crmentities" connectionString="metadata=res://*/entities.csdl|res://*/entities.ssdl|res://*/entities.msl;&#xd;&#xa;    provider=system.data.sqlclient;provider connection string=&quot;data source=TI-NETDEVLT03;&#xd;&#xa;    initial catalog=techimplementcrm;integrated security=false;user id=sa;password=usman1234;multipleactiveresultsets=true;&#xd;&#xa;    application name=entityframework&quot;" providerName="system.data.entityclient" />-->
    <add name="crmentities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HGBUE13;initial catalog=TechImplementCRM;     integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CRMEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HGBUE13;initial catalog=TechImplementCRM;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>