
<div class="ex-page-content text-center">
    <img src="~/Content/assets/images/error.svg" alt="0" class="" height="170">
    <h2 class="mt-5 mb-4">No configurations exist against the selected device. </h2>
    <h5 class="font-16 text-muted mb-5"> <a href="/Devices/DeviceSensorGraphList">Click here</a> for device configuration.</h5>
</div>
