<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ea396839-683a-42e9-bf9d-7907e1f7e5c2/resourceGroups/TICRM20200901021413ResourceGroup/providers/Microsoft.Web/sites/swuich</ResourceId>
    <ResourceGroup>TICRM20200901021413ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://swuich.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>swuich.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>swuich</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$swuich</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="defaultconnection" Order="1" Enabled="False">
          <Destination Path="Data Source=TI-DEVELOPERPC3\TECHIMPLEMENT;Initial Catalog=TechImplementCRM;Persist Security Info=True;User ID=sa;Password=aqil" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TICRM.Models.ApplicationDbContext, TICRM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="crmentities" Order="2" Enabled="False">
          <Destination Path="Data Source=swuichdbserver.database.windows.net;Initial Catalog=swuichdb;Integrated Security=False;User ID=junaid;Password=P@ssw0rd;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ti-developerpc3\techimplement;Initial Catalog=techimplementcrm;Integrated Security=False;User ID=sa;Password=aqil;Application Name=entityframework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\crmentities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/entities.csdl|res://*/entities.ssdl|res://*/entities.msl;&#xD;&#xA;         provider=system.data.sqlclient;provider connection string=&quot;data source=ti-developerpc3\techimplement;&#xD;&#xA;         initial catalog=techimplementcrm;integrated security=false;user id=sa;password=aqil;multipleactiveresultsets=true;&#xD;&#xA;         application name=entityframework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="crmentities-Web.config Connection String">
      <ParameterValue>metadata=res://*/entities.csdl|res://*/entities.ssdl|res://*/entities.msl;provider=system.data.sqlclient;provider connection string="data source=swuichdbserver.database.windows.net;initial catalog=swuichdb;integrated security=False;user id=junaid;password=P@ssw0rd;application name=EntityFramework;MultipleActiveResultSets=true"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="defaultconnection-Web.config Connection String">
      <ParameterValue>Data Source=TI-DEVELOPERPC3\TECHIMPLEMENT;Initial Catalog=TechImplementCRM;Persist Security Info=True;User ID=sa;Password=aqil</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>