@model TICRM.UI.ASPNetMVC.Models.EmailModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <button type="button" class="btn btn-warning">Warning</button>
    <h3>Hello @Model.Name,</h3>
    <p>This is an email sent from my ASP.NET MVC application.</p>
    <p>Thank you for signing up with us!</p>
</body>
</html>